table of contents  
1. Prepare  
2. Data Read, Preprocess, Save

# Prepare

## Import Library

In [2]:
import os

import numpy as np
import pandas as pd

## Define Static Parameter

In [3]:
base_dir = os.path.join('..')
in_dir = os.path.join(base_dir, 'datasets', 'positional_data')
out_dir = os.path.join(base_dir, 'datasets', 'preprocessed')

os.listdir(in_dir)

['LIV_[2]-1_CHE.csv',
 'liverpool_2019_passes.csv',
 'liverpool_2019.csv',
 'Real_vs_Barcelona_Calma.csv']

# Data Read, Preprocess, Save

In [6]:
df = pd.read_csv(os.path.join(in_dir, 'liverpool_2019_passes.csv'), index_col=[0])

In [7]:
df.head()

,from_team,from_x,from_y,from_frame,from_player_num,to_team,to_x,to_y,to_frame,to_player_num,play
0,attack,46.394558,11.134454,0,10.0,attack,48.844160,27.191910,22.0,8.0,Liverpool [3] - 0 Bournemouth
1,attack,51.813185,28.611598,42,8.0,attack,85.565258,30.767056,108.0,9.0,Liverpool [3] - 0 Bournemouth
2,attack,85.565258,30.767056,108,9.0,attack,86.219036,33.236389,118.0,11.0,Liverpool [3] - 0 Bournemouth
0,attack,36.054422,68.277311,16,4.0,attack,82.955888,73.003584,78.0,10.0,Bayern 0 - [1] Liverpool
0,attack,47.429230,15.842044,14,26.0,attack,28.497923,7.131785,42.0,10.0,Fulham 0 - [1] Liverpool

In [8]:
len(df.play.unique())

19

## Encode Position

In [9]:
x_size, y_size = 106, 68

c_x_list, c_y_list = [c for c in df.columns if c.endswith('_x')], [c for c in df.columns if c.endswith('_y')]
    
df[c_x_list] = df[c_x_list].applymap(lambda x: (x_size/2)*((x-50)/50))
df[c_y_list] = df[c_y_list].applymap(lambda x: (y_size/2)*((x-50)/50))

In [10]:
df.head()

,from_team,from_x,from_y,from_frame,from_player_num,to_team,to_x,to_y,to_frame,to_player_num,play
0,attack,-3.821769,-26.428571,0,10.0,attack,-1.225191,-15.509501,22.0,8.0,Liverpool [3] - 0 Bournemouth
1,attack,1.921977,-14.544113,42,8.0,attack,37.699173,-13.078402,108.0,9.0,Liverpool [3] - 0 Bournemouth
2,attack,37.699173,-13.078402,108,9.0,attack,38.392178,-11.399255,118.0,11.0,Liverpool [3] - 0 Bournemouth
0,attack,-14.782313,12.428571,16,4.0,attack,34.933241,15.642437,78.0,10.0,Bayern 0 - [1] Liverpool
0,attack,-2.725016,-23.227410,14,26.0,attack,-22.792201,-29.150386,42.0,10.0,Fulham 0 - [1] Liverpool

In [11]:
df.columns

Index(['from_team', 'from_x', 'from_y', 'from_frame', 'from_player_num',
       'to_team', 'to_x', 'to_y', 'to_frame', 'to_player_num', 'play'],
      dtype='object')

In [13]:
df.columns = ['Team', 'Start X', 'Start Y', 'Start Frame', 'From', 'to_team', 'End X', 'End Y', 'End Frame', 'To', 'play']

## save

In [17]:
c_list = ['Team', 'Start Frame', 'End Frame' ,'Start X', 'Start Y', 'End X', 'End Y', 'From', 'To']
for play in df.play.unique():
    df[df.play==play][c_list].fillna(0).astype({'End Frame':int, 'From':int, 'To':int}).to_csv(os.path.join(out_dir, play, 'events.csv'), index=False)